
/* ESTILO GERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #4ce7d3;
    height: 100vh;
      
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display:flex ;
}
.btn-contato button{
    padding: 10px 40px;
   font-size: 18px;
   font-weight: 700;
   background-color: #8800f8;
   border: 0;
   border-radius: 30px;
   cursor: pointer;
   transition: .2s;
   
}

h2.titulo{
    color: #030303;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #f700eb;
}

button:hover{
    box-shadow: 0px 0px 8px #8800f8;
    transform: 1.05;

}


/* ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}

header >.interface{
     display: flex;
     align-items: center;
     justify-content: space-between;

}
header a{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #c208c2b0;
    transform: scale(1.05);
}
header nav ul{
    list-style-type:none;

}
header nav ul li{
     display: inline-block;
     padding: 0 35px;
}

 
 
/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
  padding: 40px 0%;
}
section.top-do-site .flex{
   align-items: center;
   justify-content: center;
   gap: 90px;
}
.topo-do-site h1{
    color: #030303;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site h1 span{
    color: rgb(0, 114, 114);
    font-size: 84px;
}
.topo-do-site .txt-topo-site h3{
    color: #0c0000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: movimentar 2s ease-in-out infinite alternate;
    padding: 10px;
    width: 500px;
}

@keyframes movimentar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/* ESTILO DOS DADOS PESSOAIS*/
section.Dados-pessoais{
    padding: 40px 4%;
}

section.Dados-pessoais .flex{
    gap: 60px;
}

.Dados-pessoais .Pessoais-box{
    color: #000000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;
    transition: .2s;
}

.Dados-pessoais .Pessoais-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #4b07996e;
}

.Dados-pessoais .Pessoais-box i{
    font-size: 65px;
    color: #00ff08;
}
.Dados-pessoais .Pessoais-box h3{
    font-size: 30px;
    margin: 15px 0;
}

.insta button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(212, 0, 255);
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
    transition:ease-in ;
}